* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: rgb(243, 235, 225);
}


/* .header {
    position: sticky;
    width: 100%;
    height: 150px;
    top: 0;
    bottom: 0;
}

.cabecera {
    display: flex;
    flex-direction: row;
    gap: 30%;
    height: 75px;
    width: 100%;
    background-color: #28594b;
}

.enlace {
    line-height: 75px;
}

.cabecera .logo {
    width: 160px;
    border-radius: 10px;
    height: 120px;
    margin: 8px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.cabecera h1 {
    width: 50%;
    display: inline-block;
    font-size: 30px;
    line-height: 75px;
    color: #fff;
}


/*Estilos para el nav o segundo contenedor en este momento color amarrillo*/

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #b57c00;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-left: 20px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f9ca24;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


/*Fin de la cabecera despues de aqui agregar el resto*/

.seccionDos {
    margin: auto;
    padding: 15px;
    width: 90%;
    height: 580px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 0 10px rgb(0, 0, 0, .6);
}

.imgBx {
    background-image: url('/img/libroVerde.jpg');
    width: 50%;
    background-size: cover;
    border-radius: 5px;
    background-position-y: 100%;
    background-repeat: no-repeat;
}

.seccionDos .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.seccionDos .contentBx .formBx {
    width: 50%;
}

.seccionDos .contentBx .formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #b57c00;
    display: inline-block;
    letter-spacing: 1px;
}

.seccionDos .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

.seccionDos .contentBx .formBx .inputBx label {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

.seccionDos .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 8px 10px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2c2f30;
    background: transparent;
    border-radius: 30px;
    text-align: center;
}

#btn-recuperarContrasenna {
    border-radius: 10px;
    height: 25px;
    padding: 10px 0 0 0 0;
    border: none;
}

#btn-recuperarContrasenna:hover {
    background: #fad60d;
    cursor: pointer;
}

.inputBx h3 {
    display: inline-block;
    margin: 20px;
    color: #607d8b;
}

.linkRecuperar {
    text-decoration: none;
    color: purple;
}

.inputBx #btn-IngresarD {
    width: 100%;
    padding: 10px 20px;
    background: #b57c00;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

#btn-IngresarD:hover {
    background: #fad60d;
    cursor: pointer;
}

.seccionDos .contentBx .formBx .inputBx p {
    color: #607d8b;
    margin-left: 20px;
}

.seccionDos .contentBx .formBx .inputBx p a {
    margin-left: 40px;
    color: #f6a40b;
    padding-left: 5px;
}

@media(max-width: 768px) {
    .seccionDos .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .seccionDos .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: rgb(255, 255, 255, 0.9);
        margin: 50px;
        border-radius: 5px;
    }
    .footer {
        align-items: center;
        gap: 10%;
        padding: 30px;
    }
    footer h3 {
        font-size: 12px;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .footer button {
        margin-top: 5px;
    }
}

.footer {
    margin-top: 20px;
    width: 100%;
    background-color: #2c3740;
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 40%;
}

footer h3 {
    padding: 50px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

footer button {
    padding: 8px 20px;
    background: #525c592f;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    margin-top: 30px;
}

footer button a {
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}