* {
    box-sizing: border-box;
    /* para q los elementos no se salgan del contenedor*/
}

body {
    font-family: 'Merriweather', serif;
}

section {
    margin: auto;
}

.header {
    position: fixed;
    width: 100%;
    height: 150px;
    margin: auto;
}

.cabecera {
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
    background-color: #28594b;
}

.enlace {
    line-height: 75px;
}

.cabecera .logo {
    width: 200px;
    /* border-radius: 10px;*/
    height: 130 px;
    margin: 5px 10px;
}


/*estilos para el search*/

.box {
    margin: 10px 60px 10px;
    max-width: 400px;
    width: 500px;
    line-height: 75px;
}

.box .search-box {
    position: relative;
    height: 50px;
    max-width: 150px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 500px;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
}

.search-box .icon {
    position: absolute;
    right: -350px;
    top: 0;
    width: 50px;
    background: #f2c53d;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
}

.cabecera h1 {
    width: 50%;
    display: inline;
    font-size: 30px;
    line-height: 75px;
    color: #fff;
    margin-left: 300px;
}


/*Estilos para el nav o segundo contenedor en este momento color amarrillo*/

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #b57c00;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-left: 20px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f9ca24;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


/*elementos de perfil a partir de aca*/

#sct_cabecera_perfil {
    /*height: 700px;*/
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    /* justify-content, permite manipular la forma en la que se acomodan los elementos hijos dentro del eje principal */
    justify-content: space-evenly;
    align-content: left;
}

.contenedor_imagenes {
    max-width: 300 px;
    position: relative;
    padding-left: 30px;
}


/*esconder las imagenes por default*/

.mySlides {
    display: none;
}


/* botones anterior y seguiente*/

.ant,
.sig {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #d09306;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/*mover el boton siguiente a la derecha*/

.sig {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.ant:hover,
.sig:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* propiedades del fade*/

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.atributos_libro {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 10px;
}

.titulo {
    font-size: 56px;
    padding-bottom: 10px;
}

.subtitulo {
    font-size: 34px;
    padding-bottom: 10px;
}

.resenna {
    font-size: 21px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.subtitulo_vinculo {
    color: #a59821;
    font-size: 34px;
    padding-bottom: 10px;
}